/* sass assets/styles/app.scss assets/styles/app.css   */
body {
  background-color: lightgray;
  margin: 0;
}

/* header */
header nav {
  background-color: #333;
  color: #fff;
  height: 60px;
}
header nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul .menu-navigation-droite {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
header nav ul .menu-navigation-droite .active {
  background-color: #504b4b;
}
header nav ul .menu-navigation-gauche {
  margin-left: 20px;
}
header nav ul .menu-navigation-gauche .active {
  background-color: #504b4b;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

main {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 212, 255) 21%, rgb(15, 121, 184) 61%, rgb(44, 44, 175) 93%);
}

.home-html {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #eee;
}
.home-html .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(7, 7, 99) 0%, rgb(9, 9, 121) 15%, rgb(6, 87, 173) 43%, rgb(0, 212, 255) 65%);
  padding: 20px;
  margin-bottom: 20px;
}
.home-html .welcome h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 10px;
}
.home-html .welcome p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.home-html .welcome .categories {
  margin: 30px;
}
.home-html .welcome .categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.home-html .welcome .categories ul li a {
  color: #eee;
  text-decoration: none;
  border: 2px solid #ccc;
  padding: 5px;
  font-weight: bold;
}
.home-html .welcome .categories ul li a:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}
.home-html .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.home-html .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 212, 255) 13%, rgb(15, 121, 184) 43%, rgb(9, 9, 121) 87%);
}
.home-html .articles h1 {
  color: #fff;
  font-size: 30px;
  margin: 0;
}
.home-html .articles .articles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 40px;
}
.home-html .articles .articles-list .article {
  width: 300px;
  background: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.home-html .articles .articles-list .article h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.home-html .articles .articles-list .article p {
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
}
.home-html .articles .articles-list .article .article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-html .articles .articles-list .article .article-footer p {
  margin: 0;
  font-size: 12px;
  color: #000;
  font-style: italic;
  text-align: right;
}
.home-html .articles .articles-list .article .article-footer a {
  text-decoration: none;
  color: #0657ad;
}

.connection-form-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 60px;
}
.connection-form-html .connection-form {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.connection-form-html .connection-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.connection-form-html .connection-form form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.connection-form-html .connection-form .form-control {
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
.connection-form-html .connection-form .btn-connecter {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.connection-form-html .connection-form .btn-connecter:hover {
  background-color: #fff;
  color: #000;
}
.connection-form-html .connection-form .alert-danger {
  color: red;
  font-weight: bold;
}
.connection-form-html .connection-form-footer {
  margin-top: 20px;
}
.connection-form-html .connection-form-footer a {
  color: #c4d9ef;
  text-decoration: none;
}
.connection-form-html li {
  list-style: none;
}

.insription-form-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 60px;
}
.insription-form-html .inscription-form {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.insription-form-html .inscription-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.insription-form-html .inscription-form form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.insription-form-html .inscription-form .form-control {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
.insription-form-html .inscription-form .btn-inscrire {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.insription-form-html .inscription-form .btn-inscrire:hover {
  background-color: #fff;
  color: #000;
}
.insription-form-html .inscription-form .alert-danger {
  color: red;
  font-weight: bold;
}
.insription-form-html .inscription-form-footer {
  margin-top: 20px;
}
.insription-form-html .inscription-form-footer a {
  color: #c4d9ef;
  text-decoration: none;
}
.insription-form-html li {
  list-style: none;
}

/* CATEGORIE*/
.category-show-html {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 60px;
  min-height: 60vh;
}
.category-show-html .single-category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 20vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.category-show-html .single-category-container .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
}
.category-show-html .single-category-container .navigation a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}
.category-show-html .single-category-container .navigation a:hover {
  background-color: #000;
  color: #fff;
}
.category-show-html .posts {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.category-show-html .posts .single-post {
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.category-show-html .posts .single-post .post-header {
  display: flex;
  justify-content: space-between;
}
.category-show-html .posts .single-post .post-header .date-publication {
  font-size: 0.8em;
  color: #aaa;
  margin: 0;
  align-self: center;
}
.category-show-html .posts .single-post .post-content {
  text-align: justify;
}
.category-show-html .posts .single-post a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.category-show-html .posts .single-post a:hover {
  background-color: #000;
  color: #fff;
}
.category-show-html .posts .single-post .separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}

/*CATEGORIE CREER*/
.admin-category-create-html {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-category-create-html .creer-categorie {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-category-create-html .creer-categorie h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.admin-category-create-html .creer-categorie .category-name {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}
.admin-category-create-html .creer-categorie .btn-publish {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*CATEGORIE MODIFIER*/
.admin-category-edit-html {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-category-edit-html .modifier-categorie {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-category-edit-html .modifier-categorie h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.admin-category-edit-html .modifier-categorie .category-name {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}
.admin-category-edit-html .modifier-categorie .btn-publish {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*CATOGORIE INDEX*/
.admin-category-index-html {
  display: flex;
  justify-content: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-category-index-html .categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.admin-category-index-html .categories a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.admin-category-index-html .categories a:hover {
  background-color: #000;
  color: #fff;
}
.admin-category-index-html .categories .header-categories {
  width: 100%;
  font: 18px/1.5 sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.admin-category-index-html .categories .header-categories h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}
.admin-category-index-html .categories .single-category {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.admin-category-index-html .categories .single-category h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

/*COMMENTAIRE*/
.admin-comment-index-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-comment-index-html .comments {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-comment-index-html .comments a {
  color: #a97575;
}
.admin-comment-index-html .comments avisited {
  color: unset;
}
.admin-comment-index-html .comments h3 {
  margin-bottom: 20px;
}
.admin-comment-index-html .comments .body-comments {
  display: flex;
  justify-content: center;
}
.admin-comment-index-html .comments .table {
  width: 100%;
}
.admin-comment-index-html .comments .table thead th {
  vertical-align: center;
  border-top: 2px solid #dee2e6;
}
.admin-comment-index-html .comments .table th,
.admin-comment-index-html .comments .table td {
  padding: 0.75rem;
  vertical-align: center;
  border-bottom: 2px solid #dee2e6;
}
.admin-comment-index-html .comments .table .btn-danger {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}
.admin-comment-index-html .comments .table .btn-danger:hover {
  background-color: #e24e4e;
}

/*POSTEs CREER*/
.admin-post-create-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-post-create-html .ecrire-article {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-post-create-html .ecrire-article h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.admin-post-create-html .ecrire-article .form-item-content, .admin-post-create-html .ecrire-article .form-item-title {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  outline: none;
}
.admin-post-create-html .ecrire-article .form-item-title {
  height: 30px;
}
.admin-post-create-html .ecrire-article .form-item-categories {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.admin-post-create-html .ecrire-article .form-item-publish {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.admin-post-create-html .ecrire-article .form-item-publish:hover {
  background-color: #333;
}

/*POSTES MODIFIER*/
.admin-post-edit-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.admin-post-edit-html .modifier-article {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-post-edit-html .modifier-article .header-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 60px;
}
.admin-post-edit-html .modifier-article .header-edit h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.admin-post-edit-html .modifier-article .header-edit a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #eee;
  border-radius: 50%;
  padding: 5px;
}
.admin-post-edit-html .modifier-article .form-item-content, .admin-post-edit-html .modifier-article .form-item-title {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  outline: none;
}
.admin-post-edit-html .modifier-article .form-item-title {
  height: 30px;
  margin-top: 10px;
}
.admin-post-edit-html .modifier-article .form-item-categories {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.admin-post-edit-html .modifier-article .form-item-publish {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.admin-post-edit-html .modifier-article .form-item-publish:hover {
  background-color: #333;
}
.admin-post-edit-html .modifier-article .btn-group {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}

/*POSTES INDEX */
.post-index-html {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.post-index-html .posts {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.post-index-html .posts .single-post a, .post-index-html .posts .header-posts a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.post-index-html .posts .single-post a:hover, .post-index-html .posts .header-posts a:hover {
  background-color: #000;
  color: #fff;
}
.post-index-html .posts .header-posts {
  width: 100%;
  font: 18px/1.5 sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.post-index-html .posts .header-posts h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}
.post-index-html .posts .single-post {
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.post-index-html .posts .single-post .post-header {
  display: flex;
  justify-content: space-between;
}
.post-index-html .posts .single-post .post-header .date-publication {
  font-size: 0.8em;
  color: #aaa;
  margin: 0;
  align-self: center;
}
.post-index-html .posts .single-post .separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}
.post-index-html .posts .single-post .post-content {
  text-align: justify;
}

/*POSTES AFFICHER*/
.post-show-html {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 60px;
  min-height: 60vh;
}
.post-show-html .lecture, .post-show-html .ecrire-commentaire, .post-show-html .commentaires {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.post-show-html .lecture .lecture-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 60px;
}
.post-show-html .lecture .lecture-header h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.post-show-html .lecture .lecture-header a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #eee;
  border-radius: 50%;
  padding: 5px;
}
.post-show-html .lecture .lecture-content p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}
.post-show-html .lecture .tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.post-show-html .lecture p {
  margin: 0;
}
.post-show-html .lecture p:not(:first-child) {
  font-size: 15px;
  font-style: italic;
}
.post-show-html .lecture-footer p, .post-show-html .date-commentaire-partage {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}
.post-show-html .ecrire-commentaire h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.post-show-html .ecrire-commentaire .form-control {
  width: 100%;
  height: 100px;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  box-sizing: border-box;
}
.post-show-html .ecrire-commentaire .btn-submit {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.post-show-html .ecrire-commentaire .btn-submit:hover {
  background-color: #333;
}
.post-show-html .commentaires h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.post-show-html .commentaires .commentaire-partage {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.post-show-html .commentaires .nom-commentaire-partage {
  font-size: 15px;
  margin: 0;
}
.post-show-html .commentaires .content-commentaire-partage {
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
}

/* FOOTER */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer .container {
  max-width: 960px;
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
