/* sass assets/styles/app.scss assets/styles/app.css   */
body {
  background-color: lightgray;
  margin: 0;
}

/* header */
header nav {
  background-color: #333;
  color: #fff;
  height: 60px;
}
header nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav ul .menu-navigation-droite {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 212, 255) 21%, rgb(15, 121, 184) 61%, rgb(44, 44, 175) 93%);
}

.connection-form-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 60px;
}
.connection-form-html .connection-form {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.connection-form-html .connection-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.connection-form-html .connection-form form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.connection-form-html .connection-form .form-control {
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
.connection-form-html .connection-form .btn-connecter {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.connection-form-html .connection-form .btn-connecter:hover {
  background-color: #fff;
  color: #000;
}
.connection-form-html .connection-form .alert-danger {
  color: red;
  font-weight: bold;
}
.connection-form-html .connection-form-footer {
  margin-top: 20px;
}
.connection-form-html .connection-form-footer a {
  color: #c4d9ef;
  text-decoration: none;
}
.connection-form-html li {
  list-style: none;
}

.insription-form-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 60px;
}
.insription-form-html .inscription-form {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.insription-form-html .inscription-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.insription-form-html .inscription-form form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.insription-form-html .inscription-form .form-control {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
.insription-form-html .inscription-form .btn-inscrire {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.insription-form-html .inscription-form .btn-inscrire:hover {
  background-color: #fff;
  color: #000;
}
.insription-form-html .inscription-form .alert-danger {
  color: red;
  font-weight: bold;
}
.insription-form-html .inscription-form-footer {
  margin-top: 20px;
}
.insription-form-html .inscription-form-footer a {
  color: #c4d9ef;
  text-decoration: none;
}
.insription-form-html li {
  list-style: none;
}

/* CATEGORIE*/
.category-show-html {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 60px;
}
.category-show-html .single-category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 20vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.category-show-html .single-category-container .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
}
.category-show-html .single-category-container .navigation a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}
.category-show-html .single-category-container .navigation a:hover {
  background-color: #000;
  color: #fff;
}
.category-show-html .posts {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.category-show-html .posts .single-post {
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.category-show-html .posts .single-post .post-header {
  display: flex;
  justify-content: space-between;
}
.category-show-html .posts .single-post .post-header .date-publication {
  font-size: 0.8em;
  color: #aaa;
  margin: 0;
  align-self: center;
}
.category-show-html .posts .single-post .post-content {
  text-align: justify;
}
.category-show-html .posts .single-post a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.category-show-html .posts .single-post a:hover {
  background-color: #000;
  color: #fff;
}
.category-show-html .posts .single-post .separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer .container {
  max-width: 960px;
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
