<footer>

	<div class="contacts">
		<a href="https://www.github.com/nabilesall" target="_blank">GitHub</a>
		<a href="https://idrissa-sall.com/portfolio" target="_blank">Portfolio</a>
		<a href="https://www.linkedin.com/in/nabile-sall-261b861b2" target="_blank">Linkedin</a>
	</div>

	<div class="container">
		<p>Mon blog &copy; 2023</p>
	</div>

</footer>
