<footer>

	<div class="contacts">
		<a href="https://www.github.com/nabilesall/symfony_blog_project" target="_blank">GitHub</a>
		<a href="https://idrissa-sall.com/portfolio" target="_blank">Portfolio</a>
		<a href="https://www.linkedin.com/in/nabile-sall-261b861b2" target="_blank">Linkedin</a>
	</div>

	<div class="container">
		<p>N'Blog &copy; 2023 &copy; By <a href="https://idrissa-sall.com" target="_blank">Idrissa Nabile Sall</a> </p>
	</div>

</footer>
