<header>

	<nav>
		<ul>
			<li><a href="/">Blog</a></li>
			<li><a href="/admin/post">Liste des Posts</a></li>
			<li><a href="/admin/category">Liste des Catégories</a></li>
			<li><a href="/admin/comment">Liste des Commentaires</a></li>
			<li><a href="/">Admin</a></li>
		</ul>
	</nav>

</header>
