<header>

	<nav>
		<ul>
			<li><a href="/">Blog</a></li>
			<li><a href="#">Liste des Posts</a></li>
			<li><a href="#">Liste des Catégories</a></li>
			<li><a href="#">Liste des Commentaires</a></li>
		</ul>
	</nav>


</header>
