{% extends "bases/base.html.twig" %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}

	<main class="admin-category-create-html">
		<div class="creer-categorie">
			<h3>Créer une nouvelle catégorie</h3>

			{{ form_start(form) }}
				
				{{form_widget(form.name,{'attr' : {'placeholder' : 'Le nom de la catégorie', 'class' : 'category-name', 'autocomplete':'off'}})}}
				{{form_widget(form.publish,{'label' : 'Publier la catégorie', 'attr': {'class' : 'btn-publish'}})}}
				
			{{ form_end(form) }}

		</div>
	</main>
	
{% endblock %}
