{% extends "bases/base.html.twig" %}

{% block title %}Categorie - Créer{% endblock %}

{% block body %}
	<style>
		.admin-category-create-html{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 60px;
		}

		.creer-categorie{
			width: 60%;
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}

		.creer-categorie h3{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
		}

		.category-name{
			box-sizing: border-box;
			width: 100%;
			height: 40px;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 10px;
			outline: none;
		}

		.btn-publish{
			width : 100%;
			height : 40px;
			background-color : #000;
			color : #fff;
			border : none;
			border-radius : 5px;
			cursor : pointer;
		}
	</style>

	<main class="admin-category-create-html">
		<div class="creer-categorie">
			<h3>Créer une nouvelle catégorie</h3>

			{{ form_start(form) }}
				
				{{form_widget(form.name,{'attr' : {'placeholder' : 'Le nom de la catégorie', 'class' : 'category-name', 'autocomplete':'off'}})}}
				{{form_widget(form.publish,{'label' : 'Publier la catégorie', 'attr': {'class' : 'btn-publish'}})}}
				
			{{ form_end(form) }}

		</div>

	</main>
{% endblock %}
