{% extends "bases/base.html.twig" %}

{% block body %}
	<style>

		.category-index-html{
			display: flex;
			justify-content: center;
		}

		.header-categories {
			width: 100%;
			font: 18px / 1.5 sans-serif;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
		}

		.header-categories h3, .single-category h3 {
			margin: 0;
			padding: 0;
			font-size: 1.5em;
			font-weight: bold;
		}
	
		.categories {
			display: flex;
			flex-direction: column;
			width: 60%;
		}

		.single-category{
			margin-bottom: 20px;
			border: 2px solid #eee;
			border-radius: 20px;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.single-category a, .header-categories a {
			text-decoration: none;
			color: #000;
			font-weight: bold;

			border: 1px solid;
			padding: 10px;
			border-radius: 10px;
		}
	</style>

	<title>Category</title>

	<main class="category-index-html">
		<div class="categories">
			<div class="header-categories">
				<h3>category</h3>
				<a href="/admin/category/create">Créer une nouvelle catégorie</a>
			</div>

			{% for category in categories %}
				<div class="single-category">
					<h3>{{category.name}}</h3>
					<a href="/admin/category/{{category.id}}">Voir la catégorie</a>
				</div>
			{% endfor %}

		</div>
	</main>
{% endblock %}
